body, html {
	background-color: brown;
}
.e54_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1000px;
	position:absolute;
}
.e1_3 { 
	background-color:rgba(190.0000038743019, 255, 188.0000039935112, 1);
	width:1440px;
	height:115px;
	position:absolute;
	left:0px;
	top:-1px;
}
.e1_4 { 
	width:219.13043212890625px;
	height:112px;
	position:absolute;
	left:0px;
	top:-1px;
	background-image:url(../img/logo_api_meteo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_24 { 
	background-color:rgba(172.7706491947174, 241.18749797344208, 166.8213540315628, 1);
	width:872px;
	height:90px;
	position:absolute;
	left:561px;
	top:14px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e1_23 { 
	width:194px;
	height:62px;
	position:absolute;
	left:24px;
	top:14px;
}
.e1_6 { 
	background-color:rgba(0, 68.00000354647636, 99.00000169873238, 1);
	width:194px;
	height:62px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e1_7 { 
	color:rgba(255, 255, 255, 1);
	width:77.99999237060547px;
	height:21px;
	position:absolute;
	left:63.00007629394531px;
	top:20px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e1_21 { 
	width:194px;
	height:62px;
	position:absolute;
	left:234px;
	top:14px;
}
.e1_8 { 
	background-color:rgba(0, 68.00000354647636, 99.00000169873238, 1);
	width:194px;
	height:62px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e1_10 { 
	color:rgba(255, 255, 255, 1);
	width:173px;
	height:23px;
	position:absolute;
	left:15.00025463104248px;
	top:20px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e1_19 { 
	width:194px;
	height:62px;
	position:absolute;
	left:444px;
	top:14px;
}
.e1_11 { 
	background-color:rgba(0, 68.00000354647636, 99.00000169873238, 1);
	width:194px;
	height:62px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e1_12 { 
	color:rgba(255, 255, 255, 1);
	width:92px;
	height:24px;
	position:absolute;
	left:50.999969482421875px;
	top:19px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e1_18 { 
	width:194px;
	height:62px;
	position:absolute;
	left:654px;
	top:14px;
}
.e1_13 { 
	background-color:rgba(0, 68.00000354647636, 99.00000169873238, 1);
	width:194px;
	height:62px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e1_14 { 
	color:rgba(255, 255, 255, 1);
	width:89px;
	height:25px;
	position:absolute;
	left:51.999977111816406px;
	top:19px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e1_25 { 
	width:1440px;
	height:800px;
	position:absolute;
	left:0px;
	top:114px;
	background-image:url(../img/paysage_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_26 { 
	background-color:rgba(0, 68.00000354647636, 99.00000169873238, 1);
	width:1440px;
	height:86px;
	position:absolute;
	left:0px;
	top:914px;
}
.e63_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.38999998569488525);
	width:221px;
	height:290px;
	position:absolute;
	left:169px;
	top:198px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e63_3 { 
	color:rgba(0, 0, 0, 1);
	width:153px;
	height:132px;
	position:absolute;
	left:34px;
	top:79px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e63_5 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.38999998569488525);
	width:221px;
	height:290px;
	position:absolute;
	left:1049px;
	top:198px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e63_6 { 
	color:rgba(0, 0, 0, 1);
	width:153px;
	height:132px;
	position:absolute;
	left:34px;
	top:79px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e63_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.38999998569488525);
	width:221px;
	height:290px;
	position:absolute;
	left:609px;
	top:198px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e63_8 { 
	color:rgba(0, 0, 0, 1);
	width:153px;
	height:132px;
	position:absolute;
	left:34px;
	top:79px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e63_9 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.38999998569488525);
	width:221px;
	height:290px;
	position:absolute;
	left:169px;
	top:540px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e63_10 { 
	color:rgba(0, 0, 0, 1);
	width:153px;
	height:132px;
	position:absolute;
	left:34px;
	top:79px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e63_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.38999998569488525);
	width:221px;
	height:290px;
	position:absolute;
	left:1049px;
	top:540px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e63_12 { 
	color:rgba(0, 0, 0, 1);
	width:153px;
	height:132px;
	position:absolute;
	left:34px;
	top:79px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e63_13 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.38999998569488525);
	width:221px;
	height:290px;
	position:absolute;
	left:609px;
	top:540px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e63_14 { 
	color:rgba(0, 0, 0, 1);
	width:153px;
	height:132px;
	position:absolute;
	left:34px;
	top:79px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e63_18 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.05000000074505806);
	width:259.0010986328125px;
	height:50.0108528137207px;
	position:absolute;
	left:112px;
	top:932px;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom-left-radius:35px;
	border-bottom-right-radius:35px;
}
.e63_16 { 
	transform: rotate(0.002865509689290021deg);
	color:rgba(255, 255, 255, 1);
	width:217.0010986328125px;
	height:22px;
	position:absolute;
	left:21.00054931640625px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e63_21 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.05000000074505806);
	width:107px;
	height:50px;
	position:absolute;
	left:429px;
	top:932px;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom-left-radius:35px;
	border-bottom-right-radius:35px;
}
.e63_20 { 
	color:rgba(255, 255, 255, 1);
	width:39px;
	height:22px;
	position:absolute;
	left:34px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e63_27 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.05000000074505806);
	width:385px;
	height:50px;
	position:absolute;
	left:1019px;
	top:932px;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom-left-radius:35px;
	border-bottom-right-radius:35px;
}
.e63_26 { 
	color:rgba(255, 255, 255, 1);
	width:325px;
	height:22px;
	position:absolute;
	left:30px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e63_34 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.05000000074505806);
	width:365px;
	height:50px;
	position:absolute;
	left:594px;
	top:932px;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom-left-radius:35px;
	border-bottom-right-radius:35px;
}
.e63_33 { 
	color:rgba(255, 255, 255, 1);
	width:325px;
	height:22px;
	position:absolute;
	left:20px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
