<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon compte - Hi-Cloud</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="header-wrapper">
            <a href="index.ejs"><img src="img/pig.png" alt="Logo Hi-Cloud"></a>
        </div>
        <nav>
            <a href="index.ejs">Accueil</a>
            <a href="stations.ejs">Stations</a>
            <a href="team.ejs">L'équipe</a>
            <a href="contact.ejs">Contact</a>
        </nav>
        <aside>
            <a href="index.ejs" id="connect">Se déconnecter</a>
        </aside>
    </header>
    <div id="content">
        <section>
            <button id="retour" onclick="history.back()">Retour</button>
            <h1>Bienvenue sur votre compte CompteHowner !</h1>
            <hr>
            <p>
                Ici, vous pourrez voir les sondes dont vous disposez et en commander de nouvelles.<br>
                Nous apportons une importance particulière à la protection de vos données !<br>
                N'hésitez pas à modifier votre mot de passe régulièrement, conformément aux recommendations de la CNIL vis-à-vis des bonnes pratiques à adopter sur internet.
            </p>
            <p>Pour retourner aux stations, c'est <a href="stations.ejs">par ici</a> !</p>
            
        </section>
        <section>
            
        </section>
        <section>
            
        </section>
        <section>
            
        </section>
        <section>
            
        </section>        
    </div>
</body>
</html>