<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nous contacter - Hi-Cloud</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="header-wrapper">
            <a href="/"><img src="/assets/img/logo.png" alt="Logo Hi-Cloud"></a>
        </div>
        <nav>
            <a href="/">Accueil</a>
            <a href="/stations">Stations</a>
            <a href="/team">L'équipe</a>
        </nav>
        <aside>
            <a href="/login" id="connect">Se connecter</a>
            <a href="/register" id="register">Créer un compte</a>
        </aside>
    </header>
    <div id="content">
        <section>
            <h1>Une question ? Un besoin ?</h1>
            <hr>
            <p>
                <em>Contactez nous !</em><br>
                Nous sommes proche de nos clients et souhaitons améliorer nos systèmes en continu.<br>
                Un problème sur notre site ? Comment se passe la livraison des sondes ?<br>
                Notre équipe aura à cœur de vous répondre dans les meilleures conditions.
            </p>
            <hr>
            <form id="contact" action="" method="post">
                <label for="mail">Mail :</label>
                <input type="email" name="mail" id="mail" placeholder="mail@hi-cloud.fr" required>
                <br>
                <label for="message">Message :</label>
                <input type="text" name="message" id="message" maxlength="2000" required></input>
                <br>
                <button type="submit">Se connecter</button>
            </form>           
        </section>
    </div>
    <footer>
        <p>&copy; Hi-Cloud <span id="year"></span></p>
        <script>
            document.getElementById("year").innerHTML = new Date().getFullYear();;
        </script>
        <aside><a href="#top">Retour en haut</a></aside>
    </footer> 
</body>
</html>