<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un compte - Hi-Cloud</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="header-wrapper">
            <a href="index.ejs"><img src="img/pig.png" alt="Logo Hi-Cloud"></a>
        </div>
        <nav>
            <a href="index.ejs">Accueil</a>
            <a href="stations.ejs">Stations</a>
            <a href="team.ejs">L'équipe</a>
            <a href="contact.ejs">Contact</a>
        </nav>
        <aside>
            <a href="connect.ejs" id="connect">Se connecter</a>
            <a href="register.ejs" id="register">Créer un compte</a>
        </aside>
    </header>
    <div id="content">
        <section>
            <button id="retour" onclick="history.back()">Retour</button>
            <h1>Créer un compte</h1>
            <hr>
            <form action="account.ejs" method="post">
                <label for="mail">Mail :</label>
                <input type="email" name="mail" id="mail" placeholder="mail@hi-cloud.fr" required>
                <br>
                <label for="password">Mot de passe :</label>
                <input type="password" name="password" id="password" placeholder="S4fe;P4ssw0rD" required>
                <br>
                <button type="submit">Créer un compte</button>
            </form>
        </section>      
    </div>
</body>
</html>